* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: blueviolet;
}
header {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  width: 100px;
}
ul {
    list-style: none;
    width: 50vw;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 1.4vw;
    font-weight: bold;
}
main{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.yoda{

    position: relative;
    animation: yoda 1s linear 3s infinite normal both;
}
@keyframes yoda {
    0%{
        top: 0;
        left: 10px;
        transform: rotate(5deg);
    }
    25%{
        top: 0;
        right: 10px;
        transform: rotate(10deg);
    }
    50%{
        top: 0;
        left: 10px;
        transform: rotate(5deg);
    }
    100%{
        top: 0;
        right: 10px;
        transform: rotate(5deg);
    }
}